@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap'); /* Fuente */
@import url('normalize.css'); /* Normalizador */

:root {
  /* Paleta de colores */
  --primario: #333C4A;
  --secundario: #495664;
  --amarillo-claro: #f6f7d3;
  --blanco: #F8FCEB;

  /* Font family */
  --inter: 'Inter', sans-serif;
}

/* Globales */

*, *:before, *:after {
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

body{
  font-size: 16px;/* 1rem = 10px */
  font-family: var(--inter);
}

h1{
  font-size: 3.8rem;
  text-align: center;
}

h2{
  font-size: 2.8rem;
  text-align: center;
}

h3{
  font-size: 2rem;
  text-align: center;
}

/* Login */

.body-index {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: var(--primario);
  min-height: 100vh;
}

.login {
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: .75fr 1.25fr;
  column-gap: 2rem;
  
  background-color: var(--blanco);
  border-radius: 1rem;
}

.login-logo {
  max-height: 50vh;
  border-radius: 1rem 0 0 1rem;
}

.login-form input {
  line-height: 2.5rem;
  margin-bottom: 2.5rem;
}

/* Registro */

.register {
  background-color: var(--blanco);
  border-radius: 1rem;
  padding: 3rem;
}

.register input {
  line-height: 2.5rem;
  margin-bottom: 2.5rem;
}

/* Menú principal */

.body-menu {
  background-color: var(--blanco);
  min-height: 100vh;
}

.nav-bg {
  background-color: var(--primario);
}

.nav-principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
  color: var(--blanco);
}

.nav-title, .nav-links {
  display: inline;
}

.nav-links a {
  color: var(--blanco);
  margin-left: 5rem;
}

.menu-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  min-height: 80vh;
}

.menu-servicestable {
  width: 60%;
}

.menu-servicestable-admin {
  width: 80%;
}

.menu-servicestable,
.menu-servicestable-admin {
  font-size: 3rem;
}

.menu-servicestable tr, 
.menu-servicestable-admin tr,
.citas-table tr {
  height: 7rem;
}

.menu-servicestable-admin a,
.citas-table a {
  color: var(--primario);
  text-decoration: none;
}

.menu-servicestable-admin a:hover,
.citas-table a:hover {
  background: var(--primario);
  color: var(--blanco);
}

.menu-main-title {
  color: var(--secundario);
  font-size: 3.5rem;
  font-weight: 700;
}

/* Agendar cita */

.body-agendar {
  background-color: var(--blanco);
  min-height: 100vh;
}

.formulario-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  min-height: 50vh;
}

.formulario-cita {
  display: flex;
  flex-direction: column;
}

.formulario-cita label,
.formulario-cita-services {
  font-size: 2.5rem;
}

.formulario-cita-services span {
  display: block;
  font-weight: 700;
  line-height: 5rem;
}

.formulario-service {
  /* display: block; */
  line-height: 3.5rem;
}

.formulario-date span,
.formulario-hour span {
  display: block;
  font-weight: 700;
  line-height: 5rem;
}

.formulario-date input,
.formulario-hour input {
  width: 100%;
}

.formulario-btn {
  background-color: var(--primario);
  border: 0 none;
  color: var(--blanco);
  height: 5rem;
}

.formulario-btn:hover {
  cursor: pointer;
  background-color: var(--secundario);
}

.error-msg {
  background-color: red;
  color: var(--blanco);
  font-size: 2rem;
  max-width: fit-content;
  padding: 1rem;
}

.citas-table {
  font-size: 2rem;
  max-width: 90%;
}
